html{
  scroll-behavior: smooth;
}

body{
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  width: 100%;
}

*{
  margin: 0;
  padding: 0;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  color: #333;
}

form {
  width: 800px;
  margin: 0 auto;
  border: 1px solid #ccc;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
  margin-bottom: 20px;
  border: 1px solid #ccc;
  padding: 15px;
  background-color: #f7f7f7;
}

fieldset .field{
  grid-template-columns: repeat(2, 1fr);
  display: grid;
}

label {
  text-align: right;
  margin: 4px 10px 0 0;
  color: #333;
}

input[type="text"],
input[type="date"] {
  width: 80%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

select{
  width: 85%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 15px;
}

input[type="text"]:focus,
input[type="date"]:focus,
select:focus {
  outline: none;
  border-color: #4CAF50;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #45a049;
}